@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.card {
  background-color: #343a40 !important; 
  color: white; 
  font-family: 'Permanent Marker', cursive; /* Aplica la fuente tipo anime */
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  text-align: center;
}

.heroes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem;
  padding: 1rem;
  font-family: 'Permanent Marker', cursive; /* Aplica la fuente tipo anime */
}

@media (max-width: 768px) {
  .heroes-container {
    grid-template-columns: 1fr; 
  }
}
